#noinfo{
    text-align: center;
    color: red;
}
#valorcarrito{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}
#valorcarrito input, #todos, #pagar{
    border-radius: 20px;
    cursor: pointer;
    background-color: #FF0049;
    color: white;
    padding: 10px;
    border-style: none;
}
#todos{
    margin-left: 47%;
}
#pagar{
    margin-left: 48%;
}
#borraritem{
    float: right;
}
#noborrar{
    margin-left: 10px;
}
#cajadatos{
    background-color: lightgray;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    font-family: titulo;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
