* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
.header {
    width: 100%;
    height: 70px;
}

/*FUENTE DE LETRA*/
@font-face {
    font-family: titulo;
    src: url(../Fonts/KaiseiHarunoUmi-Regular.ttf);
}

/*BARRA PROMOCIONAL*/
.barra-promocional {
    width: 100%;
    height: 45px;
    margin: auto;
    background-color: #FF0049;

}

.barra-promocional p a {
    text-decoration: none;
    color: white;
    font-family: titulo;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.barra-promocional p {
    text-align: center;
    font-size: 18px;
    padding-inline-end: 10px;
    font-family: titulo;
    color: white;
}

/*MENU PRINCIPAL (DISPOSITIVOS GRANDES)*/
.ancho {
    width: 100%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 18%;
    height: 70px;
    background: white;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo div a svg:hover {
    transform: scale(1.10);
}

.logo div a svg {
    padding: 0;
    margin-left: 60%;
}

.titulo {
    width: 12%;
    height: 70px;
    background: white;
    float: left;
    box-sizing: border-box;
}

.titulo p {
    padding-top: 12px;
}

.titulo p :hover {
    font-size: 23px;
    border-bottom: 2px solid black;
}

.barra-navegacion {
    width: 53%;
    height: 70px;
    padding-top: 5px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    text-align: right;
}

.espacio2 {
    width: 17%;
    height: 70px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    text-align: right;
}

.barra-navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.barra-navegacion ul li {
    display: inline-block;
}

.barra-navegacion ul li a {
    color: #FF0049;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.barra-navegacion ul li a:hover {
    color: black;
}

.barra-navegacion ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.barra-navegacion ul li:hover>ul {
    display: block;
    text-align: left;
    background-color: white;
}

.titulo p a {
    color: black;
    font-size: 25px;
    font-family: titulo;
    text-decoration: none;
    padding: 0;
}

/*MENU PRINCIPAL (DISPOSITIVOS PEQUEÑOS)*/
#menuprincipal {
    display: none;
    width: 100%;
    height: 50px;
    padding: 0% 2%;
    background-color: white;
    border-bottom: 1px solid #094660;
}

#menuprincipal>div {
    max-width: 960px;
    margin: 0px auto;
}

#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
    background-color: white;

}

#menuprincipal li a:hover {
    color: black;
}

#menuprincipal a {
    font: titulo;
    color: #FF0049;
    text-decoration: none;
}

#menuicono {
    display: none;
    width: 100%;
    height: 38px;
    padding: 12px 2% 0px 3%;
    background-color: white;
    border-top: 1px solid #094660;
}

#menu-img {
    position: relative;
    left: 90%;
}

/*MAIN*/
main {
    width: 96%;
    padding: 2%;
}

main>div {
    max-width: 960px;
    margin: 0px auto;
}

main>div>h1 {
    margin-bottom: 5px;
    font: 30px titulo;
}

section {
    margin-top: 20px;
}

aside {
    margin-top: 20px;
}

/*EFECTO PARTICULAS*/
#particles-js {
    background-position: center;
    background-attachment: contain;
    background-size: auto;
    background: lightgray;
    height: 700px;
}

#ancho-letras {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 300px;
}

#ancho-letras h1 {
    color: black;
}

#ancho-letras p {
    color: black;
}

#suscribete {
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    color: #FF0049;
    border-color: #FF0049;
    margin-left: 20px;
}

#suscribete-precios,
#suscribete:hover,
#sabermas:hover {
    cursor: pointer;
    transform: scale(1.10);
}

/*CURSOS VERSION LARGA*/
#cursosnuevos a article>div {
    display: flex;

    border-radius: 10px;
    background-color: lightgray;
    width: 100%;
    padding: 0;

}

#cursosnuevos>a>article>div>section {
    float: left;
    border-radius: 10px;
    width: 50%;
    padding-top: 10px;
    background-color: lightgray;
    color: black;

}

#cursosnuevos>a>article>div>section>strong>p {
    font-size: 15px;
}

#cursosnuevos>a>article>div>section>h1,
#cursosnuevos>a>article>div>section>h3 {
    font-size: 1.125rem;
    text-align: center;
    color: black;
}

#cursosnuevos>a>article>div>figure {
    border-radius: 10px;

    float: right;
    width: 50%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: lightgray;
}

#cursosnuevos>a>article>div>figure>img {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-left: 10px;

}

main div h1 {
    text-align: center;
    font-family: "HKGrotesk Bold", sans-serif;
    font-weight: 700;
    line-height: 1.2;

}

/*CURSOS VERSION CORTA*/
#cursosprincipales {
    float: left;
    width: 61%;
    padding-top: 30px;
    background-color: lightgray;
    border-radius: 10px;
}

#cursosprincipales a article {
    color: black;
}

#cursosprincipales a article p {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2;
}

/*HTML CURSOS*/
#cursos-cursos {
    float: left;
    width: 100%;
    margin-left: 20px;
    padding-top: 30px;
    background-color: lightgray;
    border-radius: 10px;
}

#cursos-cursos a article {
    color: black;
}

#cursos-cursos a article p {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2;
}

/*HTML PRECIOS*/
.precios {
    float: left;
    width: 30%;
    margin-left: 20px;
    padding-top: 30px;
    background-color: lightgray;
    border-radius: 20px;
    text-decoration: none;
}
.precios:hover{
    cursor: pointer;
    transform: scale(1.10);
}
#grabar2{
    border-color: #FF0049;
    border-width: 5px;
}


.precios  article,.precios-popular  article {
    color: black;
}
#transparente{
    color: lightgray;
}
.precios  article h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
#suscribete-precios2{
    background-color: #FF0049;
    color: white;
    border-color: #FF0049;
    padding: 10px;
    float: left;
    display: flex;
    text-align: center;
}
#suscribete-precios {
    background-color: #FF0049;
    color: white;
    border-color: #FF0049;
    padding: 10px;
}

main div p {
    text-align: center;
}

/*HTML POLITICAS*/
#politica,
#politica2 {
    text-align: justify;
    overflow-wrap: inherit;
}

/*HTML ABOUT US*/
#aboutus{
    color: black;
}
#politica2 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/*ASIDE*/
#infoadicional {
    float: right;
    width: 29%;
    padding: 2%;
    background-color: #FF0049;
    border-radius: 10px;
    color: white;
}

#infoadicionalclic {
    float: right;
    width: 100%;
    padding: 2%;
    background-color: #FF0049;
    border-radius: 10px;
    color: white;
}

#infoadicionalclic a {
    text-decoration: none;
    color: white;
}

#infoadicional h1,
#infoadicionalclic {
    margin-bottom: 15px;
}

#infoadicional p {
    text-align: center;
}

#infoadicionalproximoscursos {
    float: right;
    width: 29%;
    padding: 2%;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}

#infoadicionalproximoscursos article h4 {
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
}

article {
    position: relative;
}

article h3 {
    text-align: center;
    font: 16px titulo, sans-serif;
}

article p {
    font: 18px titulo, sans-serif;
    text-align: center;
}


#cursosnuevos:hover,
#cursos-cursos:hover,
#cursosprincipales:hover,
#infoadicionalclic:hover {
    transform: scale(1.10);
}

article figure div {
    position: absolute;
    left: 80%;
}

figure img {
    max-width: 98%;
    padding: 1%;
}

.course-card__tag {
    padding: 0px 5px;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: #fff;
    line-height: 0.7rem;
    padding: 5px;
    font-size: 0.7rem;
    display: inline-block;
}

/*FOOTER*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: lightgray;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

footer {
    width: 100%;
    height: 327.8px;
    overflow-y: hidden;
}

iframe {
    overflow-y: hidden;
    width: 100%;
    height: 500px;
    border-style: none;
}

