@media(max-width:400px) {
    
    #cursosnuevos >a >article >div > section >strong >p{
        display: none;
    }
    #infoadicionalproximoscursos article h4{
        text-align: center;
        font-size: 10px;
    }
    #infoadicionalproximoscursos article p{
        text-align: center;
        font-size: 10px;
    }  
    #suscribete{
        border-radius: 50px;
        padding: 3px;
        margin-left: 20px;
        font-size: 11px;
    }
    #ancho-letras{
        width: 100%;
        text-align: center;
        position: absolute;
    }
    #ancho-letras h1{
        font-size: 14px;
    }
    #cursosnuevos >a >article >div > section{
        height: 100px;
    }
    #cursosnuevos >a >article >div > section >strong >p{
        font-size: 5px;
    }
    #cursosnuevos >a >article >div > section >h1,
    #cursosnuevos >a >article >div > section >h3
    {
        font-size: 5px;
        text-align: center;
        color: black;
    }
    #precios-popular, #precios{
        width:100%;
    }

}