
.contenedor{
    border-radius: 20px;
    color: #f5f9fa;
    background: #24262b;
    display: flex;
    padding: 10px 40px 30px 40px ;
}
.elementos{
    display: block;
    width: 50%;
}
span{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.matriz{
    width: 50%;
}
.matriz input{
    width: 30px;
    height: 30px;
    margin-right: 4px;
}
button{
    border-radius: 10px;
    margin-right: 10px;
}
input{
    border-radius: 6px;
    width: 60px;
    text-align: center;
}
button{
    padding: 7px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}